@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --blue-100 : #0b37b3;
    --blue-300 :#007BFF;

}

*{
    font-family: "Roboto" ,Arial, sans-serif;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color:var(--blue-100);
    color: white;
    padding: 1rem;
}

nav a {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color:var(--blue-300);
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
}

nav a:hover {
    background-color: var(--blue-100);
}





/*  schools card*/

#school-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.school-card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 300px;
    cursor: pointer;
}

.school-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.school-card:hover{
    border-color: var(--blue-100);
    border: solid;
}



.hero{
    width: 100%;
    height: 40rem;
}


.imgAndtext{
    padding: 2rem;
    display: flex;  

}
.JiuJitsuChildren{
    text-align: justify;
    padding: 2rem;
}

.JiuJitsuChildren h2{
    text-align: center;
}
.imgKids{
    border-radius: 8px;
    border: solid 2px black;
}
.imgKids:hover{
    border: solid 1px blue;
}


/*  tecquines card*/

#techniquesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.technique-card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 300px;
    cursor: pointer;
}

.technique-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.technique-card:hover{
    border-color: var(--blue-100);
    border: solid;
}

#commentContainer{
  
    
}
#commentCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
}





@media only screen and (max-width: 850px){
    .imgAndtext{
        padding: 2rem;
        display: flex;  
        flex-wrap: wrap;
        justify-content: center;
    }
    .imgKids{
        width: 100%;
    }
}